/* NE PAS MODIFIER */
html, body {
    margin: 0;
    padding: 0;
    font-size: 0.625em; /*pour 1em = 10px */
}
body {
    font: 1.4em/1.6em georgia, serif;
    color:black;
}
header nav {
    padding:20px
}
header nav ul li {
    border: solid crimson;
    border-width:1px 0;
    background-color: crimson;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}

/*---- À vous ! ---*/


header nav ul{
    margin: auto;
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

header nav ul li{
    flex: 0 0 100px;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li:first-of-type{
    border-left: 1px solid  crimson;
}

header nav ul li:last-of-type{
    border-right: 1px solid crimson;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;


}

header nav ul li:hover{
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
}

header nav ul li a:hover{
    color: crimson;
}